@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .animate-spin {
        animation: spin 1.2s linear infinite;
        transform-origin: center;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}