@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .animate-rotate {
        animation: rotate 1.8s cubic-bezier(0.65, 0, 0.35, 1) infinite;
        transform-origin: center;
    }

    .animate-dash {
        animation: dash 1.8s ease-in-out infinite;
        transform-origin: center;
        stroke: url(#gradient);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
        opacity: 0.8;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
        opacity: 1;
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
        opacity: 0.8;
    }
}